/**************
* General CSS *
**************/
  
body {
	background: url("http://i.imgur.com/dFZCnTU.jpg") !important;
}

.astext {
    	background-color: Transparent;
    	background-repeat:no-repeat;
    	border: none;
    	cursor:pointer;
    	overflow: hidden;
}

/*************
* Header CSS *
*************/

.header .logo {
	display: none !important;
}

.header {
	background: url(http://i.imgur.com/iiylUqi.png) no-repeat !important;
}

.maintabbarbottom {
	border-color: #3DDBE3;	
	background: #9DF5F0;
}

.tabbar a.button.notifying {
	background: #A7FFF0;
	border-color: #5b95ff;
	color: #7A32D9;
	text-shadow: none;
	font-style: italic;
}
  
.button.subtle-notifying {
    	color: #7A32D9;
}

.tabbar a.button.notifying:hover {
	background: #5BFFEF;
	border-color: #5b95ff;
	color: #7A32D9;
}
  
.tabbar a.button.cur, .tabbar a.button.cur:hover {
    	border-color: #5b95ff;
    	background: #5BFFF4;
    	color: #7A32D9;
    	text-shadow: 0px 0px 2px #A2F5E0;
}
  
.tabbar a.button {
    	border-color: #5b95ff;
    	background: #9EFFFB;
    	color: #7A32D9;
    	text-shadow: none;
}
  
.tabbar a.button:hover {
    	background: #67E4E6;
}
  
.tabbar .closebutton {
    	color: #A13DFF;
}
  
.userbar button.icon {
    	border: 1px solid #0f64ff;
    	background: #A7FFE0;
    	color: #A13DFF;
    	text-shadow: 0px 0px 2px #FFFFFF;
}
  
.userbar button.icon:hover {
    	background: #FFFFFF;
}
  
.userbar .username {
    	text-shadow: none;
}

/***************
* Roomlist CSS *
***************/

.roomlist {
	margin: auto;
	text-align: center;
}

.roomlist h2 {
    	color: #4d4d4d;
}
  
.roomlist a.ilink, .roomcounters button {
    	background: #FFFFFF;    
    	border-color: #0f64ff;
    	color: #a7f2ff;
    	text-shadow: 0px 0px 1px #0f64ff;
}
  
.roomlist a.ilink:hover, .roomcounters button:hover {
    	background: #BBFAD9;    
    	border-color: #320fff;
    	color: #3EDEFA;
    	text-shadow: none;
}

/***********
* Chat CSS *
***********/

.userlist {
	background: #9B3BEB;
	border-color: #1e93ea;
	color: #4d4d4d;
}

.userlist li {
	background: rgba(155,59,235,0.2);
	border-color: #FFFFFF;
}

.userlist li em.group {
	color: #FFFFFF;
}

.userlist li button:hover, .userlist-minimized .userlist-count:hover {
	background: rgba(255, 255, 255, 0.5);
}

.infobox {
	border-color: #FFFFFF;
	box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.3);
}

.chat-log {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: url(http://i.imgur.com/PlZJbVg.png) !important;
}

.chat.highlighted {
	background: rgba(253, 255, 0, 0.4);
}

.chat.mine {
    	background: rgba(220, 247, 255, 0.4);
}

.chat-log-add {
    	border-color: #1e93ea;
   	background: rgba(95,236,229,0.25);
}

.chat-log-add .textbox {
	border-color: #1e93ea;
}

.chatbox label {
	text-shadow: none;
}

/*******************
* Tournaments CSS *
******************/

.tournament-title {
    	background: rgba(95,236,229,0.25);
    	text-shadow: none;
    	color: #a55ae5;
}
  
.tournament-status, .tournament-toggle {
    	background: rgba(255, 255, 255, 0.65);
   	border-color: #1e93ea;
	text-shadow: none;
    	color: #a55ae5;
}
  
.tournament-tools {
    	border-color: #1e93ea;
    	background: rgba(95,236,229,0.25);
}
  
.tournament-tools .select {
    	border-color: #1e93ea;
    	background: #1e93ea;
    	color: #FFFFFF;
}
  
.tournament-tools .select:hover {
    	background: #93ea1e;
}
  
.tournament-tools .select:disabled, .tournament-tools .select:disabled:hover {
    	background: rgba(95,236,229,0.35);
    	color: #000000 !important;
    	text-shadow: none !important;
    	border-color: #1e93ea !important;
}
  
.tournament-tools button {
    	border-color: #1e93ea;
    	background: #1e93ea;
    	color: #FFFFFF;
}
  
.tournament-tools button:hover {
    	background: #1eeadb;
}
  
.tournament-wrapper, .tournament-box {
    	border-color: #1e93ea;
}
  
.tournament-box {
    	background: rgba(255,255,255,0.65) url("http://i.imgur.com/rD3CQZ8.png") top left no-repeat;
}

/**********************
* Mainmenuwrapper CSS *
**********************/

.menugroup {
    	border: 1px solid #909090;
    	background: rgba(255,255,255,0.3);
    	color: #676767;
}

.menugroup .select, .menugroup .button {
    	background: #C1F5DE !important;
	border-color: #1e93ea !important;
	color: #1e93ea !important;
	text-shadow: none !important;
	font-style: italic !important;
}

.menugroup .select:hover, .menugroup .button:hover {
    	background: #7DFAED !important;
	border-color: #1e93ea !important;
	color: #1e93ea !important;
	text-shadow: none !important;
	font-style: italic !important;
}

.menugroup .select:disabled, .menugroup .select:disabled:hover {
    	background: rgba(255,255,255,0.2) !important;
	border-color: #1e93ea !important;
	color: #1e93ea !important;
	text-shadow: none !important;
}

.pm-log {
	background-color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.pm-window h3 {
    	border-color: #1e93ea;
    	background: #f59ed9 url("http://pldh.net/media/pokexycons/698.png") bottom right no-repeat;
    	background-position: 200px;
    	color: #FFFFFF;
    	text-shadow: 0px -1px 0px #000000;
}
  
.pm-window h3:hover {
    	background: #f59ed9 url("http://pldh.net/media/pokexycons/698.png") bottom right no-repeat;
    	background-position: 200px;
    	color: #FFFFFF;
}
  
.pm-window h3 small {
    	color: #FFFFFF;
}
  
.pm-window.focused h3, .pm-window.focused h3:hover {
    	border-color: #1e93ea;
    	background: #f59ed9 url("http://pldh.net/media/pokexycons/607.png") bottom right no-repeat;
    	background-position: 200px;
    	color: #FFFFFF;
    	text-shadow: 0px -1px 0px #000000;
}
  
.pm-window h3:hover .minimizebutton, .pm-window h3 .closebutton, .pm-window h3 .minimizebutton {
    	color: #9deef4;
}
  
.pm-window h3 .closebutton:hover {
    	color: #F7A4A4;
}
  
.pm-window h3 .minimizebutton:hover {
    	color: #F7D0A4;
}
  
.pm-window h3 .closebutton:hover + .minimizebutton {
    	color: #D3F5E8 !important;
}
  
.message-pm {
    	color: #56a0f2;
}
  
.pm-window h3.pm-notifying {
    	border-color: #803C6F;
    	background: #F3C5EA;
    	color: #803C6F;
    	text-shadow: none;
}
  
.pm-window h3.pm-notifying:hover {
    	background: #E5B6DC;
}
  
.pm-window h3.pm-notifying small {
    	color: #4cc2f0;
}
  
.pm-window h3.pm-notifying .closebutton, .pm-window h3.pm-notifying .minimizebutton {
    	color: #9deef4;
}
  
.pm-window h3.pm-notifying .closebutton:hover {
    	color: #AF3B3B;
}
  
.pm-window h3.pm-notifying .minimizebutton:hover {
    	color: #AF813B;
}
  
.pm-window h3.pm-notifying .closebutton:hover + .minimizebutton {
    	color: #803C6F !important;
}
  
.pm-log, .pm-window.focused .pm-log {
    	border-color: #5a91f0;
}
  
.challenge {
    	border-color: #f470d3;
    	background: #F3C5EA;
    	color: #803C6F;
    	text-shadow: none;
}
  
.challenge .select {
    	border-color: #f470d3;
    	background: #F3C5EA;
    	color: #803C6F;
    	text-shadow: 0px 0px 2px #FCE8F1;
}
  
.challenge .select:hover {
    	background: #58e4e7;
}
  
.challenge .select:disabled {
    	background: rgba(231,252,251,0.3);
}
  
.challenge .select.preselected, .challenge .select.preselected:disabled {
    	color: #000000;
}
  
.challenge .buttonbar button {
    	border: 1px solid #68caf0;
    	background: #4cece0;
    	color: #2e72e7;
    	text-shadow: 0px 0px 2px #a9eff4;
    	padding: 2px 5px;
}
  
.challenge .buttonbar button:hover {
    	background: #b7f7f2;
}
  
.pm-log-add {
    	border-color: #000000;
    	background: rgba(246,183,247,0.7);
}
  
.pm-window.focused .pm-log-add {
    	border-color: #000000;
    	background: rgba(246,183,247,0.7);
}
  
.pm-log-add .textbox {
    	border-color: #FFFFFF;
}
  
.mainmenufooter a {
    	color: #82F5EA;
    	text-shadow: none;
}
  
.mainmenufooter a:hover {
    	color: #A13DFF;
    	text-shadow: none;
}
  
.mainmenufooter {
    	color: #82F5EA;
    	text-shadow: none;
}

/*************
* Battle CSS *
*************/

.turnstatus-protect {
    	background:url(http://i.imgur.com/RVxCoHz.png);
    	opacity: 1 !important;
    	height: 103px !important;
    	width: 150px !important;
    	border-radius: 0;
    	border-width: 0;
    	box-shadow: none;
    	opacity: 0.9;
}
 
.sidecondition-safeguard {
    	background: url(http://i.imgur.com/FrCoWCW.png);
    	opacity: 0.6 !important;
    	height: 90px !important;
    	width: 130px !important;
    	border-radius: 0;
    	opacity: 0.9;
    	border-width: 0;
    	box-shadow: none;
}
 
.sidecondition-reflect {
    	background: url(http://i.imgur.com/X1XDxVB.png);
    	opacity: 0.7 !important;
    	height: 90px !important;
    	width: 130px !important;
    	border-radius: 0;
    	border-width: 0;
    	opacity: 0.9;
    	box-shadow: none;
}
 
.sidecondition-lightscreen {
    	background: url(http://i.imgur.com/8eLftNA.png);
    	opacity: 0.6 !important;
    	height: 90px !important;
    	width: 130px !important;
    	opacity: 0.9;
    	border-radius: 0;
    	border-width: 0;
    	box-shadow: none;
}

.backdrop {
    	background-image: url("http://i.imgur.com/3kxw375.png") !important;
}

.battle-log h2 {
	text-align: center;
}

.sunweather, .sunnydayweather {
	background: url(http://i.imgur.com/GCf4fyN.png) no-repeat scroll left top;
}

.rainweather, .raindanceweather {
	background: url(http://i.imgur.com/x7K1Zop.png) no-repeat scroll left top;
  }
  
.hailweather {
	background: url(http://i.imgur.com/xCXcpE5.png) no-repeat scroll left top;
  }

.sandstormweather {
	background: url(http://i.imgur.com/CbsvtPl.png) no-repeat scroll left top;
}

.pseudoweather{
	background: url(http://i.imgur.com/rPMtZca.png) no-repeat scroll left top;
}

/********************
* Miscellaneous CSS *
********************/

/* User Icons section */
#lobby-userlist-user-rankuro, #staff-userlist-user-rankuro, #royalpalace-userlist-user-rankuro, #tournaments-userlist-user-rankuro, #casino-userlist-user-rankuro, #ninesmeadow-userlist-user-rankuro, #dialgaandpalkia-userlist-user-rankuro, #tokuomart-userlist-user-rankuro, #spamroom-userlist-user-rankuro, #unleashedleague-userlist-user-rankuro {
    background: rgba(0,255,255,0.2) url("http://pldh.net/media/pokemon/gen4/overworld/shiny_frontf2/491.png") right no-repeat;
}
#lobby-userlist-user-icedragonx, #staff-userlist-user-icedragonx, #royalpalace-userlist-user-icedragonx, #tournaments-userlist-user-icedragonx, #casino-userlist-user-icedragonx, #ninesmeadow-userlist-user-icedragonx, #dialgaandpalkia-userlist-user-icedragonx, #tokuomart-userlist-user-icedragonx, #spamroom-userlist-user-icedragonx, #unleashedleague-userlist-user-icedragonx {
    background: rgba(0,255,255,0.2) url("http://pldh.net/media/pokecons_action/418.gif") right no-repeat;
}
#lobby-userlist-user-dragotic, #staff-userlist-user-dragotic, #royalpalace-userlist-user-dragotic, #tournaments-userlist-user-dragotic, #casino-userlist-user-dragotic, #ninesmeadow-userlist-user-dragotic, #dialgaandpalkia-userlist-user-dragotic, #tokuomart-userlist-user-dragotic, #spamroom-userlist-user-dragotic, #unleashedleague-userlist-user-dragotic {
    background: rgba(0,255,255,0.2) url("http://pldh.net/media/pokemon/gen4/overworld/frontf2/149.png") right no-repeat;
}
#lobby-userlist-user-clawliet {
    background: rgba(0,255,255,0.2) url("http://pldh.net/media/pokemon/gen4/overworld/frontf2/446.png") right no-repeat;
}
#lobby-userlist-user-shuunuke {
    background: rgba(0,255,255,0.2) url("http://pldh.net/media/pokemon/gen4/overworld/shiny_left/197.png") right no-repeat;
}
